force-app/main/default/flows/Fault_Tolerant_Compliance_Tracker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <recordUpdates>
        <name>Safe_Account_Update_Element</name>
        <label>Safe Account Update Element</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <faultConnector>
            <targetReference>Handle_Fault_Assignment</targetReference>
        </faultConnector>
        <inputReference>AccountRecordVariable</inputReference>
    </recordUpdates>
    <assignments>
        <name>Handle_Fault_Assignment</name>
        <label>Handle Fault Assignment</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ExtractedErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Fault Tolerant Compliance Tracker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fault Tolerant Compliance Tracker</label>
    <processType>AutoLaunchedFlow</processType>
    <variables>
        <name>AccountRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ExtractedErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Safe_Account_Update_Element</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
